.container-dashboard{
    display: flex;
    height: 100vh;
}

.container-dashboard .nav-flex{
    display: flex;
    flex-direction: column;
    width: 250px;
}


.nav-item{
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.nav-link{
    color: #000 !important;
    padding: 16px 3px;
}

.nav-link:hover{
    background-color: #f4f4f4;
}

.nav-item .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-item .nav-link.active {
    color: #007bff !important;
    border-left: 4px solid #007bff;
    padding-left: 15px;
}

.nav-fl{
    width: 100%;
}

.fl-pf{
    justify-content: space-between;
    height: 100%;
}

.bg-dark{
    background-color: #fff !important;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1) !important;
}

.color-pf{
    color: #000 !important;
}

.pf-fl{
    display: flex;
    align-items: center;
}