.img-product{
    width: 100% !important;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1) !important;
}

.img-product img{
    width: 100% !important;
    height: 365px !important;
    object-fit: cover !important;
    padding: 10px;
    border-radius: 15px;
}
.position-relatives{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: relative;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

